<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Open+Sans');
    .footer-company .fc-top.with-text-zone {
        padding-bottom: 0;
    }
    .footer-company .fc-top {
        padding: 0 10px 0 0!important;
    }
    .footer-company .fc-text-zone {
        margin-top: -45px!important;
    }
    ._customer-footer {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: #fff;
        background: url("img/footer/footer-bg.png") no-repeat;
        background-size: cover;
    }
    ._customer_wrap {
        max-width: 947px;
        margin: 0 auto;
        height: 159px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-bottom: 48px;
    }
    ._customer_wrap img {
        position: absolute;
        left: -140px;
    }
    ._customer-hit {
        width: 100px;
    }
    ._customer-left {
        font-size: 13px;
        padding-top: 0;
        position: relative;
    }
    ._customer-left img {
        top: 40px;
        left: -230px;
    }
    ._customer-left ul {
        margin: 20px;
    }
    ._customer-left li {
        list-style: url("img/footer/arrow.png");
        padding-left: 25px;
        line-height: 18px;
    }
    ._customer-left li a {
        color: #fff;
        text-decoration: none;
    }
    ._customer-left li a:hover {
        text-decoration: underline;
    }
    ._customer-center {
        font-family: Arial, sans-serif;
        line-height: 14px;
        font-size: 11px;
        padding-top: 25px;
    }
    ._customer-mail {
        background: url("img/footer/envelope.png") no-repeat;
        margin-bottom: 10px;
        padding-left: 35px;
    }
    ._customer-mail a {
        color: #fff;
    }
    ._customer_address {
        background: url("img/footer/maps.png") no-repeat;
        margin-bottom: 10px;
        padding-left: 35px;
    }
    ._customer-mode {
        background: url("img/footer/clock.png") no-repeat;
        padding-left: 35px;
    }
    ._customer-right {
        font-size: 14px;
        background: url("img/footer/phone.png") no-repeat;
        background-position: 53% 20px;
        text-align: center;
        padding-top: 53px;
    }
    ._customer-btn {
        width: 155px;
        height: 30px;
        background: #e8143d;
        border-radius: 4px;
        text-align: center;
        line-height: 30px;
        margin: 0 auto;
        margin-top: 13px;
        cursor: pointer;
    }
    ._customer-btn:hover {
        opacity: 0.9;
    }
    ._customer-phone a {
        color: #fff;
        text-decoration: none;
    }
    ._customer-phone a:hover {
        text-decoration: underline;
    }
    @media (max-width: 1024px){
        ._customer_wrap {
             margin-right: 20px;
        }
        ._customer_left: {
             padding-top: 0;
        }
        ._customer-left img {
             left: -210px;
        }
}
</style>
<!-- footer -->
<footer class="_customer-footer" itemscope itemtype="http://schema.org/LocalBusiness">
<div class="_customer_wrap">
	<img alt="Канат в футере" src="img/footer/kanat.png" />
	<div class="_customer-hit"></div>
	<div class="_customer-left">
	<img alt="Хиты продаж" src="img/footer/flag.png" />
		<ul>
			<li><a href="/catalog/k-5455174-stalnaya_provoloka">Стальная проволока</a></li>
			<li><a href="/catalog/k-3053873-setka_metallicheskaya">Сетка металлическая</a></li>
			<li><a href="/catalog/k-3053865-stalnoy_kanat">Стальной канат</a></li>
			<li><a href="/catalog/k-3056345-svarochnoye_oborudovaniye_i_komplektuyushchiye">Сварочное оборудование</a></li>
			<li><a href="/catalog/k-4939733-takelazhnoye_oborudovaniye">Такелажное оборудование</a></li>
			<li><a href="/catalog/k-4361797-abrazivny_instrument">Круги абразивные</a></li>
		</ul>
		<a href="http://www.rps-krd.ru/catalog/k-4361797-abrazivny_instrument"> </a>
	</div>
	<div class="_customer-center" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
		<div class="_customer-mail" itemprop="email">
			<a href="mailto:krasnodar@ooorps.ru">krasnodar@ooorps.ru</a>
		</div>
		<div class="_customer_address">Адрес: <span itemprop="addressLocality">г. Краснодар,</span><br />
			<span itemprop="streetAddress">проезд Тихорецкий 3-й 22,<br />офис №3</span>
		</div>
		<div class="_customer-mode">Время работы:<br />
			пн-сб 8:00-17:00,<br />
			перерыв: 12:00-13:00
		</div>
	</div>
	<div class="_customer-right">
		<div class="_customer-phone" itemprop="telephone">
			<a href="tel:+78612344854">+7 (861) 234-48-54</a><br />
			<a href="tel:+79897248515">+7 (989) 724-85-15</a>
		</div>

		<div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-btn" data-company-id="98057506" 
			data-company-name="Регионпромсервис" data-company-name-rest="ООО" data-company-url="http://www.rps-krd.ru" 
			data-ga-id="CK-1193-1" data-params="{&quot;company_id&quot;:98057506}" data-statistics="1" data-type="callback">
			Заказать звонок
		</div>
	</div>
</div>
<meta itemprop="name" content="ООО Регионпромсервис"><meta content="Mo,Tu,We,Th,Fr,Sat 08:00-17:00" itemprop="openingHours"></footer>
<!-- end footer -->